@import url('https://fonts.googleapis.com/css2?family=Bitter:ital@0;1&family=Mukta:wght@700&family=Nunito+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital@0;1&family=Mukta:wght@700&family=Nunito+Sans&family=Press+Start+2P&family=Roboto&display=swap');
 
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   background-color: #122341;
   align-items: center;
 }
 #header {
   background-image: url("../img/star.jpg");
   padding: 35px 20px 25px;
   height: 150px;
   text-align: center;
   font-size: 20px;
   color: #ffffff;
   font-family: 'Press Start 2P', serif;
 }
 p {
   margin-top: 10px;
   font-family: 'Bitter', serif;
 }
span {
  background: #f0ec78;
  color: #000000;
 }
 a{
   font-size: 30px;
   width: 600px;
   padding: 70px;
   color: #ffffff;
   font-family: 'Press Start 2P', serif;
   height: 50px;
   text-decoration: none;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: auto
 }
a:hover{
  color: #f0ec78;
}
#img_satelit{
  width: 300px;
  top: -300px;
  left: 1550px;
  position: relative;
 }
#img_roket{
  width: 450px;
  top: 100px;
  left: -230px;
  position: relative;
}
#img_earth{
  width: 250px;
  top: -350px;
  left: -400px;
  position: relative;
}
#img_saturnus{
  width: 350px;
  top: 150px;
  right: -300px;
  position: relative;
}
.zoo{
  background-image: url(../img/star.jpg);
}
.table{
  background-image: url(../img/star.jpg);
}