body {
    padding: 0;
    margin: 0;
    background-color: floralwhite;
}

.slider-frame {
    overflow: hidden;
    height: 1000px;
    width: 1900px;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-100%);
    }
    55% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-200%);
    }
    80% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(0);
    }
}

.img-container {
    width: 1900px;
    height: 1000px;
    position: relative;
    float: left;
}
