* {
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    min-height: 800px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
header {
    width: 100%;
    min-height: 80px;
    padding: 15px 20px;
    background: black;
}
.nav-bag1 {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a.logo {
    font-size: 50px;
    color: #fff;
    font-weight: 700;
    position: relative;
    z-index: 9;
}
nav a.logo span {
    color: #e74c3c;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    display: block;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    padding: 10px 20px;
    margin: 0 5px;
    position: relative;
}
nav ul li a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: #e74c3c;
    transform: scaleX(0);
    transition: 0.3s;
}
nav ul li a:hover:before {
    transform: scaleX(1);
}
nav label.barIcon {
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 9;
    transition: 0.3s;
}
nav label.barIcon:hover {
    color: #e74c3c;
}

.container2 {
    position: relative;
    max-width: 742px;
    margin: 0 auto;
}
.image-bag2 {
    position: relative;
    top: 1213px;
    left: 5px;
}
.slider2 {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.slier2 img {
    flex: 1 0 100%;
}
.nav-bag2 {
    display: flex;
    column-gap: 5px;
    position: absolute;
    top: 1580px;
    bottom: 1.25rem;
    left: 375px;
    transform: translateX(-50%);
    z-index: 1;
}
#nav-bag2 a {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}
#nav-bag2 a:hover {
    background-color: #f5b8b5;
}
.bag2 {
    position: absolute;
}
#judul-bag2 {
    position: relative;
    width: 70%;
    top: 760px;
    left: 120px;
}
.teks1-bag2 {
    position: relative;
    font-size: 23px;
    color: #775435;
    font-weight: bold;
    top: 1145px;
    left: 15px;
    text-align: center;
}
