* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    background-color: #ffe6d0;
}
.container {
    width: 100%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    overflow: hidden;
}
.image-bag1 {
    width: 100%;
    display: flex;
    animation: slide 15s infinite;
}
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-100%);
    }
    55% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-200%);
    }
    80% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(0);
    }
}
img {
    width: 100%;
}
.asset-bag1 {
    position: absolute;
}
.bg-trans {
    position: relative;
    width: 50%;
    top: 0px;
    left: 490px;
}
.sakura1 {
    position: relative;
    width: 1900px;
    top: -1056px;
    left: 0px;
}
.judul-bag1 {
    position: relative;
    width: 35%;
    top: -1350px;
    left: 625px;
}
.kotak-teks-bag1 {
    position: relative;
    width: 50%;
    top: -1100px;
    right: 200px;
}
.teks1-bag1 {
    position: relative;
    font-size: 33px;
    color: #775435;
    font-weight: bold;
    width: 48%;
    top: -1230px;
    left: 510px;
}
#nav-bag1 {
    position: sticky;
    background-color: #f5b8b5;
}
