* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    background-image: url(../img/pc/background.png);
}
#bag1 {
    position: relative;
    
}
.container1 {
    width: 100%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 450px;
    left: 50%;
    overflow: hidden;
}
.image-bag1 {
    width: 100%;
    display: flex;
    animation: slide 15s infinite;
}
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-100%);
    }
    55% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-200%);
    }
    80% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(0);
    }
}
img {
    width: 100%;
}
.sakura1 {
    position: absolute;
    width: 1900px;
    top: 0px;
}
.judul-bag1 {
    position: absolute;
    width: 35%;
    top: 80px;
    left: 97px;
}
.kotak-teks-bag1 {
    position: absolute;
    width: 50%;
    top: 700px;
    right: 475px;
}
.teks1-bag1 {
    position: absolute;
    font-size: 33px;
    color: #775435;
    font-weight: bold;
    width: 48%;
    top: 730px;
    left: 514px;
}
#navbar1 {
    position: relative;
    top: 900px;
    z-index: 9;
}
.navbar-bag1 {
    background: #f6a3a4;
    position: sticky;
    text-align: center;
}
li {
    display: inline-block;
    transition: 0.6s;
}
a {
    color: #775435;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    padding: 30px;
    display: block;
    margin-top: -10px;
}
a:hover {
    color: #fff;
}
.navbar-bag1 img {
    display: block;
    margin-top: -40px;
    margin-bottom: 10px;
    width: 20px;
}
.segitiga1 {
    display: block;
    margin-left: 290px;
}
.segitiga2 {
    display: block;
    margin-left: 280px;
}
.segitiga3 {
    display: block;
    margin-left: 320px;
}
.segitiga4 {
    display: block;
    margin-left: 240px;
}
#bag2 {
    position: relative;
    top: 900px;
}
.trigger2 {
    display: none;
}
.image-bag2, .slider-wrapper2 {
    position: relative;
    height: 250px;
}
.slide2 {
    max-width: 742px;
    max-height: 351px;
    overflow: hidden;
    position: absolute;
    left: 585px;
    top: 200px;
    transition: opacity .5s ease-in-out;
}
.slide-img2 {
    height: 100%;
    object-fit: fill;
    display: block;
    margin: 0 auto;
}
.slide-figure2 {
    height: 100%;
    position: relative;
    margin: 0;
}
.slide-caption2 {
    position: absolute;
    bottom: 30%;
    width: calc(100% - 1rem);
    font-size: 20px;
    color: #775435;
    font-weight: bold;
    text-align: center;
    top: 250px;
    left: 7.5px;
}
.slide-caption2 span {
    background-color: #ffe6d0;
}
.trigger2:checked + .slide2 {
    z-index: 1;
    opacity: 1;
}
.slider-nav2 {
    width: 100%;
    text-align: center;
    margin: 1rem 0; 
}
.slider-nav__item2 {
    display: inline-block;
    position: relative;
    top: 300px;
    left: 10px;
}
.slider-nav__label2 {
    font-size: 13px;
    background-color: #fff;
    display: block;
    height: 2em;
    line-height: 2em;
    width: 2em;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .25s, color .25s ease-in-out;
}
.slider-nav__label2:hover,
  .slider-nav__label2:active,
  .slider-nav__label2:focus {
    background-color: #f5b8b5;
}
.judul-bag2 {
    position: relative;
    top: -150px;
    left: 717px;
    width: 500px;
    z-index: 10;
}
.kotak-foto {
    display: block;
    margin-top: -30px;
}
.kotak-button1-bag2 {
    display: block;
    margin-top: 220px;
    margin-left: 313px;
    width: 32%;
}
.teks-kotak-button1-bag2 {
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    display: block;
    margin-top: -170px;
    margin-right: 670px;
    text-align: center;
}
.tombol-button1-bag2 {
    position: relative;
    top: 15px;
    left: 423.5px;
    width: 20%;
    z-index: 10;
    background: none;
    border: none;
    cursor: pointer;
}
.teks-tombol-button1-bag2 {
    position: relative;
    top: -8px;
    right: 150px;
    width: 40%;
    z-index: 10;
    background: none;
    border: none;
    color: #775435;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.teks-tombol-button1-bag2:hover {
    color: #fff;
}
.kotak-button2-bag2 {
    display: block;
    margin-top: -171px;
    margin-left: 1001px;
    width: 32%;
}
.teks-kotak-button2-bag2 {
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    display: block;
    margin-top: -170px;
    margin-left: 712.5px;
    text-align: center;
}
.tombol-button2-bag2 {
    position: relative;
    top: 15px;
    left: 1115px;
    width: 20%;
    z-index: 10;
    background: none;
    border: none;
    cursor: pointer;
}
.teks-tombol-button2-bag2 {
    position: relative;
    top: -8px;
    left: 540px;
    width: 40%;
    z-index: 10;
    background: none;
    border: none;
    color: #775435;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.teks-tombol-button2-bag2:hover {
    color: #fff;
}
.ornamen-bawah2 {
    display: block;
    margin-top: 90px;
    margin-left: 490px;
    width: 50%;
}
#bag3 {
    position: relative;
    top: 900px;
}
.judul-bag3 {
    position: relative;
    top: 100px;
    left: 717px;
    width: 500px;
    z-index: 10;
}
.img1-bag3 {
    display: block;
    margin-top: 75px;
    margin-left: 457px;
    max-width: 500px;
    max-height: 700px;
}
.img2-bag3 {
    display: block;
    margin-top: -700px;
    margin-left: 977px;
    max-width: 500px;
    max-height: 300px;
}
.img3-bag3 {
    display: block;
    margin-top: 419px;
    margin-left: 457px;
    max-width: 500px;
    max-height: 300px;
}
.img4-bag3 {
    display: block;
    margin-top: -699px;
    margin-left: 977px;
    max-width: 500px;
    max-height: 700px;
}
.teks1-bag3 {
    position: absolute;
    font-size: 25px;
    color: #775435;
    font-weight: bold;
    top: 1280px;
    left: 450px;
    text-align: center;
}
.kotak-button1-bag3 {
    display: block;
    margin-top: 240px;
    margin-left: 660px;
    width: 32%;
}
.teks-kotak-button1-bag3 {
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    display: block;
    margin-top: -130px;
    margin-left: 755px;
}
.tombol-button1-bag3 {
    position: relative;
    top: 10px;
    left: 770px;
    width: 20%;
    z-index: 10;
    background: none;
    border: none;
    cursor: pointer;
}
.teks-tombol-button1-bag3 {
    position: relative;
    top: -12px;
    left: 195px;
    width: 40%;
    z-index: 10;
    background: none;
    border: none;
    color: #775435;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.teks-tombol-button1-bag3:hover {
    color: #fff;
}
.ornamen-bawah3 {
    display: block;
    margin-top: 85px;
    margin-left: 490px;
    width: 50%; 
}
#bag4 {
    position: relative;
    top: 900px;
}
.judul-bag4 {
    position: relative;
    top: 100px;
    left: 717px;
    width: 500px;
    z-index: 10;
}
.slider-wrapper4 {
    position: relative;
    max-width: 742px;
    max-height: 351px;
    margin: 0 auto;
    top: 75px;
    left: 15px;
}
.image-bag4 {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow: hidden;
}
.image-bag4 img {
    flex: 1 0 100%;
    scroll-snap-align: start;
}
.slider-nav4 {
    display: flex;
    column-gap: 5px;
    position: absolute;
    bottom: 1.25rem;
    left: 50.5%;
    transform: translateX(-50%);
    z-index: 1;
    top: 580px;
}
.slider-nav4 a {
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #fff;
    transition: opacity ease 250ms;
    padding: 13px;
}
.slider-nav4 a:hover {
    background-color: #f5b8b5;
}
.teks1-bag4 {
    position: absolute;
    font-size: 25px;
    color: #775435;
    font-weight: bold;
    text-align: center;
    top: 650px;
    left: 590px;
}
.kotak-button1-bag4 {
    display: block;
    margin-top: 390px;
    margin-left: 290px;
    width: 32%;
}
.teks-kotak-button1-bag4 {
    color: #fff;
    font-weight: bold;
    font-size: 21px;
    text-decoration: none;
    display: block;
    margin-top: -230px;
    margin-right: 710px;
    text-align: center;
}
.tombol-button1-bag4 {
    position: relative;
    top: 20px;
    left: 410px;
    width: 20%;
    z-index: 10;
    background: none;
    border: none;
    cursor: pointer;
}
.teks-tombol-button1-bag4 {
    position: relative;
    top: -2px;
    right: 170px;
    width: 40%;
    z-index: 10;
    background: none;
    border: none;
    color: #775435;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.teks-tombol-button1-bag4:hover {
    color: #fff;
}
.kotak-button2-bag4 {
    display: block;
    margin-top: -222px;
    margin-left: 1020px;
    width: 32%;
}
.teks-kotak-button2-bag4 {
    color: #fff;
    font-weight: bold;
    font-size: 21px;
    text-decoration: none;
    display: block;
    margin-top: -230px;
    margin-left: 750px;
    text-align: center;
}
.tombol-button2-bag4 {
    position: relative;
    top: 20px;
    left: 1140px;
    width: 20%;
    z-index: 10;
    background: none;
    border: none;
    cursor: pointer;
}
.teks-tombol-button2-bag4 {
    position: relative;
    top: -1px;
    left: 565px;
    width: 40%;
    z-index: 10;
    background: none;
    border: none;
    color: #775435;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.teks-tombol-button2-bag4:hover {
    color: #fff;
}
.ornamen-bawah4 {
    display: block;
    margin-top: 90px;
    margin-left: 490px;
    width: 50%; 
}
#bag5 {
    position: relative;
    top: 900px;
}
.judul-bag5 {
    position: relative;
    top: 100px;
    left: 717px;
    width: 500px;
    z-index: 10;
}
.slider-wrapper5 {
    position: relative;
    max-width: 742px;
    max-height: 351px;
    margin: 0 auto;
    top: 75px;
    left: 15px;
}
.image-bag5 {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow: hidden;
}
.image-bag5 img {
    flex: 1 0 100%;
    scroll-snap-align: start;
}
.slider-nav5 {
    display: flex;
    column-gap: 5px;
    position: absolute;
    bottom: 1.25rem;
    left: 51%;
    transform: translateX(-50%);
    z-index: 1;
    top: 580px;
}
.slider-nav5 a {
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #fff;
    transition: opacity ease 250ms;
    padding: 13px;
}
.slider-nav5 a:hover {
    background-color: #f5b8b5;
}
.teks1-bag5 {
    position: absolute;
    font-size: 25px;
    color: #775435;
    font-weight: bold;
    text-align: center;
    top: 650px;
    left: 590px;
}
.teks-papan {
    position: absolute;
    font-size: 22px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    top: 1180px;
    left: 820px;
}
.teks-papan span {
    color: #fcbe00;
}
.papan {
    display: block;
    margin-top: 450px;
    margin-left: 686px;
    width: 30%;
}
.teks2-bag5 {
    position: absolute;
    font-size: 25px;
    color: #775435;
    font-weight: bold;
    text-align: center;
    top: 1460px;
    left: 612.5px;
}
.ornamen-bawah5 {
    display: block;
    margin-top: 290px;
    margin-left: 490px;
    width: 50%;
}
#bag6 {
    position: relative;
    top: 900px;
}
.kotak-button1-bag6 {
    display: block;
    margin-top: 100px;
    margin-left: 660px;
    width: 32%;
}
.tombol-button1-bag6 {
    position: relative;
    top: -180px;
    left: 775px;
    width: 20%;
    z-index: 10;
    background: none;
    border: none;
    cursor: pointer;
}
.teks-tombol-button1-bag6 {
    position: relative;
    top: -202px;
    left: 200px;
    width: 40%;
    z-index: 10;
    background: none;
    border: none;
    color: #775435;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.teks-tombol-button1-bag6:hover {
    color: #fff;
}
.teks-kotak-button1-bag6 {
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    display: block;
    margin-top: -180px;
    margin-left: 40px;
    text-align: center;
}
.jal {
    position: relative;
    top: 80px;
    left: 522px;
    z-index: 10;
    background: none;
    border: none;
    cursor: pointer;
}
.teks-jal {
    position: relative;
    top: 50px;
    right: 40px;
    width: 40%;
    z-index: 10;
    background: none;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.teks-jal:hover {
    color: #fff;
}
.ana {
    position: relative;
    top: 80px;
    right: 178px;
    z-index: 10;
    background: none;
    border: none;
    cursor: pointer;
}
.teks-ana {
    position: relative;
    top: -78px;
    left: 855px;
    width: 40%;
    z-index: 10;
    background: none;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.teks-ana:hover {
    color: #fff;
}
.kotak-button2-bag6 {
    position: relative;
    top: 140px;
    right: 60px;
    z-index: 10;
    background: none;
    border: none;
    cursor: pointer;
}
.teks-kotak-button2-bag6 {
    position: relative;
    top: 45px;
    left: 10px;
    width: 100%;
    z-index: 10;
    background: none;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    cursor: pointer;
}
.teks-kotak-button2-bag6:hover {
    color: #775435;
}
.sakura2 {
    position: absolute;
    width: 1900px;
    top: 0px;
    left: 0px;
}