* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    background-image: url(../img/pc/background.png);
}
#bag1 {
    position: relative;
    z-index: 10;
}
.container1 {
    width: 100%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 500px;
    left: 50%;
    overflow: hidden;
}
.image-bag1 {
    width: 100%;
    display: flex;
    animation: slide 15s infinite;
}
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-100%);
    }
    55% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-200%);
    }
    80% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(0);
    }
}
img {
    width: 100%;
}
.bg-trans {
    position: absolute;
    width: 50%;
    left: 500px;
}
.sakura1 {
    position: absolute;
    width: 1900px;
    top: 0px;
}
.judul-bag1 {
    position: absolute;
    width: 35%;
    top: 150px;
    left: 100px;
}
.kotak-teks-bag1 {
    position: absolute;
    width: 50%;
    top: 750px;
    right: 475px;
}
.teks1-bag1 {
    position: absolute;
    font-size: 33px;
    color: #775435;
    font-weight: bold;
    width: 48%;
    top: 780px;
    left: 514px;
}
#navbar1 {
    position: relative;
    top: 1000px;
    z-index: 9;
}
.navbar-bag1 {
    background: #f6a3a4;
    position: sticky;
    text-align: center;
}
li {
    display: inline-block;
    transition: 0.6s;
}
a {
    color: #775435;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    padding: 25px;
    display: block;
    margin-top: -10px;
}
a:hover {
    color: #fff;
}
.navbar-bag1 img {
    display: block;
    margin-top: -40px;
    margin-bottom: 10px;
    width: 20px;
}
.segitiga1 {
    display: block;
    margin-left: 290px;
}
.segitiga2 {
    display: block;
    margin-left: 280px;
}
.segitiga3 {
    display: block;
    margin-left: 320px;
}
.segitiga4 {
    display: block;
    margin-left: 240px;
}
#wrapper {
    position: relative;
    background-image: url(../img/pc/background.png);
    width: 990px;
    height: 7327px;
    display: block;
    margin-top: -70px;
    margin-left: auto;
    margin-right: auto;
}
.slider-wrapper2 {
    position: relative;
    max-width: 742px;
    margin: 0 auto;
    top: 1250px;
}
.image-bag2 {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.image-bag2 img {
    scroll-snap-align: start;
}
.slider-nav2 {
    display: flex;
    column-gap: 5px;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    top: 370px;
}
.slider-nav2 a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    padding: 10px;
    transition: opacity ease 250ms;
    
}
.slider-nav2 a:hover {
    background-color: #f6a3a4;
}
.caption-bag2 {
    position: relative;
    top: 50px;
    left: 20px;
    font-size: 22px;
    color: #775435;
    font-weight: bold;
}
#caption-1 {
    display: block;
}
#caption-1:target {
    display: none;
}
#caption-2 {
    display: none;
}
#caption-2:target {
    display: block;
}
#caption-3 {
    display: none;
}
#caption-3:target {
    display: block;
}
#caption-4 {
    display: none;
}
#caption-4:target {
    display: block;
}
#caption-5 {
    display: none;
}
#caption-5:target {
    display: block;
}
#judul-bag2 {
    position: relative;
    top: 730px;
    left: 250px;
    width: 500px;
    z-index: 10;
}
.kotak-foto2 {
    display: block;
    margin-top: 870px;
}
.kotak-button1-bag2 {
    display: block;
    margin-top: 300px;
    margin-left: 200px;
    width: 60%;
}
.teks-kotak-button1-bag2 {
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    display: block;
    margin-top: -170px;
    margin-left: 5px;
    text-align: center;
}
.tombol-button1-bag2 {
    position: relative;
    top: 15px;
    left: 300px;
    width: 40%;
    z-index: 10;
    background: none;
    border: none;
    cursor: pointer;
}
.teks-tombol-button1-bag2 {
    position: relative;
    top: -8px;
    right: 100px;
    width: 40%;
    z-index: 10;
    background: none;
    border: none;
    color: #775435;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.teks-tombol-button1-bag2:hover {
    color: #fff;
}
.kotak-button2-bag2 {
    display: block;
    margin-top: 80px;
    margin-left: 200px;
    width: 60%;
}
.teks-kotak-button2-bag2 {
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    display: block;
    margin-top: -170px;
    margin-left: 5px;
    text-align: center;
}
.tombol-button2-bag2 {
    position: relative;
    top: 15px;
    left: 300px;
    width: 40%;
    z-index: 10;
    background: none;
    border: none;
    cursor: pointer;
}
.teks-tombol-button2-bag2 {
    position: relative;
    top: -8px;
    right: 100px;
    width: 40%;
    z-index: 10;
    background: none;
    border: none;
    color: #775435;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.teks-tombol-button2-bag2:hover {
    color: #fff;
}
.ornamen-bawah2 {
    display: block;
    margin-top: 70px;
    margin-left: 50px;
    width: 90%;
}
.image-bag3 {
    position: relative;
    max-width: 370px;
    max-height: 176px;
}
.img1-bag3 {
    position: absolute;
    left: 125px;
    top: 200px;
}
.img2-bag3 {
    position: absolute;
    left: 495px;
    top: 200px;
}
.img3-bag3 {
    position: absolute;
    left: 125px;
    top: 376px;
}
.img4-bag3 {
    position: absolute;
    left: 495px;
    top: 376px;
}