body {
    background-color: #0e2e4b;
}
#wrapper {
    height: 2788px;
    max-width: 990px;
    width: 100%;
    margin: 0 auto;
    background-image: url(../img/background.png);
}
#bagian-1 {
    position: relative;
}
#bagian-1 .lampion-orange-1 {
    position: absolute;
    right: 0;
    top: 55px;
    }
#bagian-1 .lampion-biru {
    position: absolute;
    left: 350px;
}
#bagian-1 .lampion-orange-2 {
    position: absolute;
    left: 0;
}
#bagian-1 .natsu {
    position: absolute;
    top: 215px;
    left: 175px;
}
#bagian-1 .hitsumabushi {
    position: absolute;
    top: 320px;
    left: 80px;
}
#bagian-1 .kari {
    position: absolute;
    top: 320px;
    left: 380px;
}
#bagian-1 .ramen {
    position: absolute;
    top: 295px;
    left: 685px;
}
#bagian-2 {
    position: relative;
}
#bagian-2 .balon-biru {
    position: absolute;
    top: 505px;
    left: 50px;
}
#bagian-2 .balon-pink {
    position: absolute;
    top: 510px;
    left: 880px;
}
#bagian-2 .menu {
    position: absolute;
    top: 550px;
    left: 125px;
}
#bagian-2 .hitsumabushi-button {
    position: absolute;
    top: 650px;
    left: 50px;
}
#bagian-2 .kari-button {
    position: absolute;
    top: 650px;
    left: 350px;
}
#bagian-2 .ramen-button {
    position: absolute;
    top: 650px;
    left: 650px;
}
#bagian-3 {
    position: relative;
}
#bagian-3 .bg-menu {
    position: absolute;
    top: 840px;
    left: 55px;
}
#bagian-3 .kakigoori {
    position: absolute;
    top: 820px;
    left: 830px;
}
#bagian-3 .gantungan {
    position: absolute;
    top: 1100px;
    left: 815px;
}
#bagian-3 .watagashi-biru {
    position: absolute;
    top: 1170px;
    left: 335px;
}
#bagian-3 .watagashi-pink {
    position: absolute;
    top: 1220px;
    left: 455px;
}
#bagian-3 .ikan {
    position: absolute;
    top: 1590px;
    left: 170px;
}
#bagian-3 .ikan {
    position: absolute;
    top: 1590px;
    left: 170px;
}
#bagian-3 .pisang {
    position: absolute;
    top: 1610px;
    left: 780px;
}
#bagian-3 .apel {
    position: absolute;
    top: 1700px;
    left: 870px;
}
#menu {
    position: relative;
}
#menu .menu-hitsumabushi {
    position: absolute;
    top: 875px;
    left: 80px;
    z-index: 10;
}
#menu .menu-kari {
    position: absolute;
    top: 1330px;
    left: 642px;
    z-index: 10;
}
#menu .menu-ramen {
    position: absolute;
    top: 1735px;
    left: 92px;
    z-index: 10;
}
#menu #teks-hitsumabushi {
    position: absolute;
    top: 840px;
    left: 380px;
}
#menu #teks-kari {
    position: absolute;
    top: 1280px;
    left: 60px;
}
#menu #teks-ramen {
    position: absolute;
    top: 1710px;
    left: 380px;
}
#menu .paragraf-hitsumabushi {
    position: absolute;
    font-size: 24px;
    top: 880px;
    left: 340px;
    list-style: none;
    color: #fff;
}
#menu .paragraf-kari {
    position: absolute;
    font-size: 24px;
    top: 1320px;
    left: 20px;
    list-style: none;
    color: #fff;
}
#menu .paragraf-ramen {
    position: absolute;
    font-size: 24px;
    top: 1750px;
    left: 340px;
    list-style: none;
    color: #fff;
}
#bagian-4 {
    position: relative;
}
#bagian-4 .petasan-1 {
    position: absolute;
    z-index: 10;
    top: 2060px;
    left: 837px;
}
#bagian-4 .petasan-2 {
    position: absolute;
    top: 2137px;
    left: 750px;
}
#bagian-4 .petasan-3 {
    position: absolute;
    z-index: 10;
    z-index: 10;
    top: 2060px;
}
#bagian-4 .petasan-4 {
    position: absolute;
    top: 2190px;
    left: 130px;
}
#bagian-4 .button-kupon {
    position: absolute;
    border: none;
    top: 2120px;
    right: 250px;
}
#bagian-4 .kotak-teks-4 {
    position: absolute;
    top: 2300px;
    right: 170px;
}
#bagian-4 .paragraf-akses {
    position: absolute;
    color: #fff;
    font-size: 28px;
    top: 2320px;
    left: 210px;
}
#bagian-4 .baju-biru {
    position: absolute;
    top: 2572px;
    right: 785px;
}
#bagian-4 .baju-orange {
    position: absolute;
    top: 2570px;
    left: 790px;
}