body {
    background-color: #0e2e4b;
}
#wrapper {
    position: relative;
    height: 2788px;
    max-width: 990px;
    width: 100%;
    margin: 0 auto;
    background-image: url(../img/background.png);
}
#bagian-1
    .lampion-orange-1 {
        position: absolute;
        right: 0;
        top: 55px;
        }
    .lampion-biru {
        position: absolute;
        left: 350px;
    }
    .lampion-orange-2 {
        position: absolute;
        left: 0;
    }
    .natsu {
        position: absolute;
        top: 220px;
        left: 175px;
    }
